*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#canvas{
    background: #fff;
    border: 2px solid #0a0a0a;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.btn{
    border: none;
    padding: 14px;
    background-color: white;
    border: 1px solid #0a0a0a;
    font-size: 1.7rem;
    font-weight: bold;
}