*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: rgb(37, 38, 39);
    display: grid;
    place-items: center;
    min-height: 88vh;
}

.btn{
  border: none;
  background-color: #563cc9;
  color: white;
  padding: 14px;
}

.base{
  background-color: white;
  border-radius: 3px;
  border: none;
  padding: 20px;
  color: black;
  margin-top: 20px;
  width: 60%;
  font-size: 1.4rem;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.input{
  padding: 14px;
  border: none;
  outline: none;
  width: 22em;
}

.textarea{
  margin-bottom: 30px;
}

@media (max-width:570px){
  .input{
    width: 12em;
  }
}